# Тестовое задание

В данном задании необходимо написать код, который считает следующие признаки для каждого клиента `user_id`:

1. `events_ordinal_number` - порядковый номер события
2. `second_event_time` - время второго события
2.	`loan_ordinal_number` - порядковый номер займа
2.	`events_time_diff` - разница во времени между событиями
2.	`previous_loans_max_amount` - максимальная сумма предыдущего займа.

### Подготовка датафрейма

In [164]:
import numpy as np
import pandas as pd
from datetime import datetime

In [165]:
size = 10000

df = pd.DataFrame(
    {
        'time': [*pd.date_range('2001-01-01', '2020-09-01', freq='1h')][:size],
        'user_id': np.random.choice(1000, size),
        'type': np.random.choice(2, size, p=[0.8, 0.2]),
        'amount': [int(x//1) for x in  np.random.normal(15_000, 1_000, size)],
        'target': np.random.choice(2, size, p=[0.5, 0.5]),
    },
    index=[*range(size)],
)

In [166]:
df['is_loan'] = df['type']
df['type'] = df['type'].replace({0: 'loanRequest', 1: 'loan'})

In [167]:
df.to_csv('test_origin.csv', index=False)

### Расчет признаков

#### Признак `events_ordinal_number`

In [168]:
# весь код расчета признака должен быть в этом методе
def calculate_events_number(df):
    df['events_ordinal_number'] = df.sort_values('time').groupby('user_id').cumcount()+1
    return df

In [169]:
calculate_events_number(df).sort_values(by=['user_id','time']).head(30)

,time,user_id,type,amount,target,is_loan,events_ordinal_number
913,2001-02-08 01:00:00,0,loanRequest,15192,0,0,1
1109,2001-02-16 05:00:00,0,loanRequest,13831,1,0,2
1523,2001-03-05 11:00:00,0,loanRequest,15580,1,0,3
1967,2001-03-23 23:00:00,0,loanRequest,16419,0,0,4
2085,2001-03-28 21:00:00,0,loanRequest,16067,0,0,5
2787,2001-04-27 03:00:00,0,loanRequest,16969,1,0,6
3208,2001-05-14 16:00:00,0,loanRequest,14689,1,0,7
3392,2001-05-22 08:00:00,0,loan,14605,1,1,8
4335,2001-06-30 15:00:00,0,loanRequest,13547,1,0,9
4754,2001-07-18 02:00:00,0,loanRequest,14525,0,0,10
4786,2001-07-19 10:00:00,0,loanRequest,14178,0,0,11
7042,2001-10-21 10:00:00,0,loanRequest,13610,0,0,12
8731,2001-12-30 19:00:00,0,loanRequest,14028,0,0,13
9347,2002-01-25 11:00:00,0,loanRequest,14709,1,0,14
9436,2002-01-29 04:00:00,0,loanRequest,15627,0,0,15
9833,2002-02-14 17:00:00,0,loanRequest,15119,1,0,16
9957,2002-02-19 21:00:00,0,loanRequest,14560,0,0,17
203,2001-01-09 11:00:00,1,loanRequest,14701,1,0,1
1542,2001-03-06 06:00:00,1,loanRequest,14179,1,0,2
2875,2001-04-30 19:00:00,1,loanRequest,15759,0,0,3
3685,2001-06-03 13:00:00,1,loanRequest,14721,1,0,4
4985,2001-07-27 17:00:00,1,loanRequest,17284,0,0,5
6201,2001-09-16 09:00:00,1,loanRequest,14934,1,0,6
6759,2001-10-09 15:00:00,1,loanRequest,14173,0,0,7
7264,2001-10-30 16:00:00,1,loanRequest,14319,1,0,8
7299,2001-11-01 03:00:00,1,loan,15896,1,1,9
7819,2001-11-22 19:00:00,1,loanRequest,15987,1,0,10
8389,2001-12-16 13:00:00,1,loan,16596,1,1,11
9041,2002-01-12 17:00:00,1,loanRequest,14583,1,0,12
658,2001-01-28 10:00:00,2,loanRequest,15895,1,0,1

#### Признак `second_event_time`

In [170]:
# весь код расчета признака должен быть в этом методе
def calculate_second_event_time(df):
    df = calculate_events_number(df)
    second_event = df[df['events_ordinal_number']== 2].groupby('user_id')[['user_id','time']].apply(lambda x:x)
    second_event.rename(columns={'time':'second_event_time'},inplace=True)
    df = df.merge(second_event,on='user_id')
    return df

In [171]:
#calculate_second_event_time(df).sort_values(by=['user_id','time']).head(30)

#### Признак `loan_ordinal_number`

In [172]:
# весь код расчета признака должен быть в этом методе
def calculate_loan_number(df):
    #df = calculate_second_event_time(df)
    df['loan_ordinal_number'] = df.sort_values('time').groupby('user_id').is_loan.apply(lambda x: x.shift(1).fillna(1).cumsum())
    return df

In [173]:
#calculate_loan_number(df).sort_values(by=['user_id','time']).head(30)

#### Признак `events_time_diff`

In [174]:
# весь код расчета признака должен быть в этом методе
def calculate_time_diff(df):
    #df = calculate_loan_number(df)
    df['events_time_diff'] = df.sort_values(by=['time']).groupby('user_id').time.apply(lambda x: abs(x.shift(1) - x))
    return df

In [175]:
#calculate_time_diff(df).sort_values(by=['user_id','time']).head(30)

#### Признак `previous_loans_max_amount`

In [176]:
# весь код расчета признака должен быть в этом методе
def calculate_previous_max_amount(df):
    #df = calculate_time_diff(df)
    df['loan'] = df['amount'] * df['is_loan'].replace({0: np.nan})
    df['previous_loans_max_amount'] = df.sort_values(by=['time']).groupby('user_id').loan.apply(lambda x: x.shift(1).ffill())
    df.drop(['loan'], axis=1, inplace=True)
    return df

In [177]:
#calculate_previous_max_amount(df).sort_values(by=['user_id','time']).head(30)

### Сохранение итогового датасета с признаками

Этот код трогать не нужно.

In [178]:
def calculate_feature(df):
    calculate_events_number(df)
    calculate_second_event_time(df)
    calculate_loan_number(df)
    calculate_time_diff(df)
    calculate_previous_max_amount(df)

In [179]:
%%timeit -o 
calculate_feature(df)

4.64 s ± 329 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [180]:
columns = ['time']
rez = _
df_time = pd.DataFrame([rez], None, columns)
df_time.to_csv('time.csv', index=False)

In [181]:
df.to_csv('test.csv', index=False)